# Ignore all
*

# Unignore files with extensions .c and .h
!*.c
!*.h

# Unignore all dirs
!*/

# Unignore makefiles
!Makefile
!makefile

#Unignore PNGs
!*.png

#Unignore gpl
!*.gpl

# Unignore .gitignore
!.gitignore

# Unignore markdown files
!*.md
